<!--
Code for integrating CloudFlare's email protection with Hydejack's single page app loading.
-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var pushStateEl = document.getElementById('_pushState');

    if (!pushStateEl) {
      return;
    }

    pushStateEl.addEventListener('hy-push-state-after', function () {
      function handleError(error) {
        (console.error ? console.error : console.log).call(console, error);
      }

      function normalizeHref(value) {
        tempDiv.innerHTML = '<a href="' + value.replace(/"/g, "&quot;") + '"></a>';
        return tempDiv.childNodes[0].getAttribute("href");
      }

      function hexToInt(value, index) {
        var hex = value.substr(index, 2);
        return parseInt(hex, 16);
      }

      function decodeEmail(encoded, index) {
        var output = "";
        var key = hexToInt(encoded, index);

        for (var i = index + 2; i < encoded.length; i += 2) {
          var charCode = hexToInt(encoded, i) ^ key;
          output += String.fromCharCode(charCode);
        }

        return normalizeHref(output);
      }

      var cfPrefix = "/cdn-cgi/l/email-protection#";
      var cfSelector = ".__cf_email__";
      var cfAttr = "data-cfemail";
      var tempDiv = document.createElement("div");

      try {
        var links = document.getElementsByTagName("a");

        for (var i = 0; i < links.length; i++) {
          var link = links[i];
          var index = link.href.indexOf(cfPrefix);

          if (index > -1) {
            link.href = "mailto:" + decodeEmail(link.href, index + cfPrefix.length);
          }
        }
      } catch (error) {
        handleError(error);
      }

      try {
        var emails = document.querySelectorAll(cfSelector);

        for (var j = 0; j < emails.length; j++) {
          var emailNode = emails[j];
          var decoded = decodeEmail(emailNode.getAttribute(cfAttr), 0);
          var textNode = document.createTextNode(decoded);

          emailNode.parentNode.replaceChild(textNode, emailNode);
        }
      } catch (error) {
        handleError(error);
      }
    });
  });
</script>

{% comment %}
<!--
Example code for using Matamo as alternative analytics solution.
-->
{% if site.matomo_analytics %}
<script>
  var _paq = _paq || [];

  /*{% if site.matomo_analytics.no_cookies %}*/
  _paq.push(['disableCookies']);
  /*{% endif %}*/

  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['setTrackerUrl', u + 'piwik.php']);
  _paq.push(['setSiteId', '{{ site.matomo_analytics.site_id }}']);

  var pushStateEl = document.getElementById('_pushState');
  var timeStartLoadPage;
  var referer;
  var timeItTookToLoadPage;

  pushStateEl.addEventListener('hy-push-state-start', function() {
    timeStartLoadPage = new Date().getTime();
    referer = window.location.toString();
  });

  pushStateEl.addEventListener('hy-push-state-ready', function() {
    timeItTookToLoadPage = new Date().getTime() - timeStartLoadPage;
  });

  pushStateEl.addEventListener('hy-push-state-after', function() {
    _paq.push(['setReferrerUrl', referer]);
    _paq.push(['setCustomUrl', window.location.toString()]);
    _paq.push(['setDocumentTitle', document.title]);
    _paq.push(['deleteCustomVariables', 'page']);
    _paq.push(['setGenerationTimeMs', timeItTookToLoadPage]);
    _paq.push(['trackPageView']);
  });

  window.loadJSDeferred('{{ site.matomo_analytics.root }}piwik.js');
</script>
{% endif %}
{% endcomment %}
